<footer>
    <p>All copyrights reserved 2022-23 Sisodia Weather</p>
    <div class="icons">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
    </div>
</footer>