<nav class="navbar">
    <div class="mob-nav p-1">
        <button id="btn"></button>
        <div class="mob-nav-list">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="navigation p-1">
        <h1><i class="far fa-snowflake spinner"></i>Sisodia Weather<i class="far fa-snowflake spinner"></i></h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </div>
</nav>