<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/utility.css">
    <link rel="stylesheet" href="./CSS/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sisodia Weather - About</title>
</head>
<body>
    <nav class="navbar">
        <div class="mob-nav p-1">
            <button id="btn"><i class="fas fa-bars fa-2x"></i></button>
            <div class="mob-nav-list">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>
        <div class="navigation p-1">
            <h1><i class="far fa-snowflake spinner"></i>Sisodia Weather<i class="far fa-snowflake spinner"></i></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="container p-1">
        <h1>Sisodia Weather</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae asperiores vel culpa consequuntur, blanditiis eos quas obcaecati cupiditate dolorum ratione alias voluptatibus deleniti, corrupti porro reprehenderit impedit? Fugiat voluptas blanditiis nobis magni eveniet, accusantium quia reprehenderit dolores hic, inventore consequatur expedita consequuntur excepturi perferendis nulla sapiente sed fugit, sunt in ipsum quod. Repellendus obcaecati repellat, quibusdam, voluptatum modi ratione corporis nisi, expedita quae odit quas ducimus sed dolorum aliquid alias quasi velit dolore nesciunt quaerat ad esse optio illo cum. Nam nostrum sequi officiis a mollitia, ex vel quasi minima itaque debitis. Explicabo, voluptas unde quia neque voluptate accusamus nobis ex beatae eligendi tempore vel, impedit corporis delectus non saepe praesentium? Obcaecati quasi, quis, nostrum quas mollitia ab esse enim consectetur accusamus dolorem asperiores reiciendis quo vero nulla placeat assumenda cumque facere molestias error quod velit! Necessitatibus recusandae minima perferendis, esse eaque modi natus deserunt ad, assumenda repellat molestias nulla voluptatem eos corrupti quas consectetur accusamus maiores cupiditate. Amet accusamus neque itaque nostrum optio, corrupti omnis recusandae animi dolore? Minus, maxime dolores. Molestiae cupiditate perferendis ullam accusantium dicta ducimus minus vel tenetur non praesentium sequi explicabo, nam hic, sunt nisi sit rem alias officiis. Nisi, quia corrupti enim dignissimos, iste a cupiditate sed cumque dolorum atque fugit. Esse, harum aliquam ut illo amet quisquam ad voluptatibus dicta exercitationem dolore accusantium rerum illum dignissimos fuga iure expedita error veniam quia nam, deleniti sunt totam quo. Doloremque ducimus repudiandae facilis optio dolorem enim suscipit. Odio ipsam soluta voluptatem, ullam harum ut? Illo perspiciatis, enim alias, repellendus aliquam assumenda laudantium reiciendis architecto quo ex provident placeat harum, deserunt laboriosam quaerat. Commodi, nihil rerum id architecto atque optio mollitia ab quam corrupti est facere explicabo illo maiores vel officiis cum suscipit ullam quaerat veritatis incidunt eaque maxime deserunt distinctio dolore? Ut excepturi quas accusamus cumque voluptatum saepe in minima, molestias, ipsa quod libero numquam corporis id hic veniam? Reiciendis veniam voluptatibus voluptates eos nemo sunt animi necessitatibus voluptate, mollitia delectus porro, ut fugit quisquam in dolor labore numquam debitis obcaecati facilis pariatur unde dignissimos laudantium sed! Nesciunt natus molestias obcaecati vitae eos amet aperiam consectetur sunt, harum maiores fuga dicta fugit cumque consequuntur id numquam. Natus cupiditate, libero fugit quis provident quia saepe debitis omnis vero facilis possimus iure ullam repellat laboriosam maxime aperiam perspiciatis, aliquam tempora officia assumenda aliquid mollitia et nobis? Vitae ab placeat nisi ratione, itaque obcaecati quasi natus! Blanditiis ad doloremque officiis dolor dolores. Quasi eos tempore at sapiente, consequuntur libero ab aliquid deserunt enim consectetur inventore vero expedita error fugiat, labore vitae. Rem quam deserunt officiis molestiae nihil voluptatem velit unde voluptate ullam fuga eos impedit, hic voluptatibus facere veniam magnam id tempora rerum ex laudantium, in eveniet et optio. Delectus repellat, voluptas quos consectetur, in quisquam veniam dolorem perferendis earum maiores neque explicabo iusto porro corrupti ea, inventore veritatis aliquid! Soluta at inventore accusantium doloribus recusandae repellendus molestiae possimus autem deleniti laboriosam veniam facilis enim voluptas eveniet quos quia deserunt, earum eos facere non nemo! Perspiciatis incidunt minima eos, ducimus labore veniam cupiditate velit, sint recusandae, at nihil sapiente perferendis pariatur dolorum nostrum nobis? Sint perspiciatis qui veritatis, itaque iste deleniti cumque repudiandae voluptate quasi, suscipit maxime molestias praesentium assumenda laborum. Quae distinctio, ab atque dolor, architecto, perspiciatis voluptatem cumque ipsum maiores autem optio? Magni placeat est repudiandae sint neque saepe molestiae perferendis, fugiat illo, id harum iure itaque voluptate, esse corporis sapiente?</p>
    </div>
    <footer>
        <p>All copyrights reserved 2022-23 Sisodia Weather</p>
        <div class="icons">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
    </footer>
</body>
<script src="./JS/index.js"></script>
<script src="./JS/mobnav.js"></script>
<script src="https://kit.fontawesome.com/84059f4353.js" crossorigin="anonymous"></script>
</html>