<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/utility.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sisodia Weather</title>
</head>
<body>
    <nav class="navbar">
        <div class="mob-nav p-1">
            <button id="btn"><i class="fas fa-bars fa-2x"></i></button>
            <div class="mob-nav-list">
                <h1><i class="far fa-snowflake spinner"></i>Sisodia Weather<i class="far fa-snowflake spinner"></i></h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>
        <div class="navigation p-1">
            <h1><i class="far fa-snowflake spinner"></i>Sisodia Weather<i class="far fa-snowflake spinner"></i></h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </nav>
    <div class="middle p-1">
        <div class="intro-part">
            <p class="intro-1">Get weather of all the cities here</p>
            <p class="intro">Welcome to <span>Sisodia Weather</span></p>
        </div>
        <div class="slideshow">
            <img class="mySlides" src="./img/bg2.jpg">
            <img class="mySlides" src="./img/bg3.jpg">
            <img class="mySlides" src="./img/bg4.jpg">
            <img class="mySlides" src="./img/bg5.jpg">
        </div>
    </div>
    <footer>
        <p>All copyrights reserved 2022-23 Sisodia Weather</p>
        <div class="icons">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
    </footer>
</body>
<script src="./JS/index.js"></script>
<script src="./JS/mobnav.js"></script>
<script src="https://kit.fontawesome.com/84059f4353.js" crossorigin="anonymous"></script>
</html>